<!DOCTYPE html>
<html>
  <body>
    {% extends "layout2.html" %}
{% block content %}
   <div class="home2">
     <h1>CLEANER</h1>
     <p>from-Bazli Sdn Bhd</p>
   </div>

   <div class="bazli">
    <h3>Bazli Sdn Bhd</h3>
    <p>You first need to require all of this conditons:</p>
    <ul>
      <li>Age must be 18 years and above.</li>
      <li>Know how to clean.</li>
      </ul>
      <p>Please click 'SUBMIT' below to submit</p>
    </div>
    <button type="button" onclick="alert('SUBMIT SUCCESSFUL')">SUBMIT</button>
    {% endblock %} 
  </body>
</html>