<!DOCTYPE html>
<html>
  <body>
    {% extends "layout.html" %}
{% block content %}
   <div class="home1">
     <h1>CASHIER</h1>
     <p>from-Kasim Sdn Bhd</p>
   </div>

   <div class="kasim">
    <h3>Kasim Sdn Bhd</h3>
    <p>You first need to require all of this conditons:</p>
    <ul>
      <li>Age must be 18 years and above.</li>
      <li>Got 5 'O' and above in 'O' level examination.</li>
      </ul>
      <p>Please click 'SUBMIT' below to submit</p>
    </div>
    <button type="button" onclick="alert('SUBMIT SUCCESSFUL')">SUBMIT</button>
    {% endblock %} 
  </body>
</html>