<!DOCTYPE html>
<html>
  <body>
    {% extends "layout4.html" %}
{% block content %}
   <div class="home5">
     <h1>WAITER</h1>
     <p>from-Shazhari Sdn Bhd</p>
   </div>

   <div class="shazhari">
    <h3>Shazhari Sdn Bhd</h3>
    <p>You first need to require all of this conditons:</p>
    <ul>
      <li>Age must be 18 years and above.</li>
      <li>Diligent, must be on-time and good social skill</li>
      </ul>
      <p>Please click 'SUBMIT' below to submit</p>
    </div>
    <button type="button" onclick="alert('SUBMIT SUCCESSFUL')">SUBMIT</button>
    {% endblock %} 
  </body>
</html>