<!DOCTYPE html>
<html>
  <body>
    {% extends "layout.html" %}
{% block content %}
   <div class="home">
     <h1>WorkComp</h1>
     <p>Do you want to find a job? Well you came to the right place!</p>
   </div>

   <div class="jobs">
     <h3>We've found the following job openings!</h3>
     <p>Our bot has found the following jobs for you:</p>
     <ul>
      <li><a href="{{ url_for('home1') }}">CASHIER</a></li>
      <li><a href="{{ url_for('home2') }}">CLEANER</a></li>
      <li><a href="{{ url_for('home3') }}">SALESMAN</a></li>
      <li><a href="{{ url_for('home3') }}">WAITER</a></li>
    </ul>
   </div>
 {% endblock %}  
  </body>
</html>