<!DOCTYPE html>
<html>
  <head>
    <title>WorkComp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main1.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">WorkComp</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('about') }}">About</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>